#A{
	color:#000000;
		
}
body{
	background-image: linear-gradient(-90deg, #662D8C , #ED1E79 );
	/* background-image: linear-gradient(-90deg,  #d7cfcf ,#f8f8f8a4 ); */
}
#caption{
	text-shadow: 3px 3px black;
}

.div{
	background-image: linear-gradient(-90deg,#a9f1dfa4 , #FFBBBB);
	
}


h{
	color:black;
	line-height:250%;
}
h1{
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.207);
	margin-left: 10px;
}

p{
	font-size:150%;
	color:#4d21ed;
	font-weight:bold;
	line-height:250%;
	text-shadow: 2px 2px #4d21ed51;
}

p1{
	font-weight:bold;
	color:purple;
	line-height:250%;
}

ul{
margin-left: 15px;
}
li{
	font-weight:bold;
	color:#02062b;
	line-height:250%;
	
}
p2{
	text-decoration:Underline;
	color:black;
}
.munu{
	width:300px;
	background-image: linear-gradient(-90deg, #FDFCFB , #E2D1C3) ;
	margin-right:10px;
	border-radius:10px;
	text-align:justiy;
}

